.intro {
    >.inner {
        display: flex;
    }
    &__text {
        padding-top: 30px;
    }
}

.text-wrapper {
    max-width: 750px;
    margin-left: 30px;
    padding-left: 28px;
}


/* positions section */

.positions {
    &__list {
        &__item {
            list-style: none;
            border-bottom: 1px solid #dfe5ea;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.position {
    &__category {
        margin-right: 97px;
        width: 97px;
        font: 500 15px/24px 'Raleway';
        text-transform: uppercase;
    }
    &__description {
        flex: 1 1;
        font: 400 14px/28px 'Open Sans';
    }
    &-top {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        &__title {
            font: 800 16px/24px 'Raleway';
            text-transform: uppercase;
        }
    }
    &-bottom {
        display: flex;
        flex-wrap: wrap;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: height 0.25s, overflow 0.25s, opacity 0.75s;
        &__left {
            width: 50%;
            padding-right: 57px;
        }
        &__right {
            width: 50%;
            padding: 0 15px 0 20px;
            font: 400 14px/28px 'Open Sans';
        }
        &__apply {
            display: inline-flex;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 40px;
        }
    }
}

.box {
    display: flex;
    margin-bottom: 23px;
    &__list {
        &__item {
            position: relative;
            padding-left: 28px;
            font: 400 14px/36px 'Open Sans';
            list-style: none;
            &:before {
                position: absolute;
                left: 0;
                content: '\e811';
                font-family: "fontello";
                font-style: normal;
                font-weight: normal;
                color: black;
            }
        }
    }
}

.icon-right {
    font-size: 20px;
}

.active {
    .btn--show {
        color: #36a8ff;
        transform: rotate(90deg);
    }
    .position-bottom {
        height: auto;
        opacity: 1;
        overflow: visible;
    }
}

@media (min-width: 1001px) and (max-width: 1100px) {
    .position {
        &-bottom {
            &__left {
                padding-right: 27px;
            }
        }
        &__category {
            margin-right: 67px;
        }
    }
}

@media (min-width: 640px) and (max-width: 1000px) {
    .position {
        &-bottom {
            &__left {
                padding-right: 20px;
            }
            &__right {
                padding-right: 15px;
            }
        }
        &__category {
            margin-right: 50px;
        }
    }
}

@media (max-width: 639px) {
    .intro {
        .img--inner {
            display: none;
        }
    }
    .text-wrapper {
        margin-left: 0;
        padding-left: 0;
    }
    .position {
        &-bottom {
            flex-direction: column;
            &__left {
                width: auto;
                padding-right: 0;
            }
            &__right {
                width: auto;
                padding: 0;
            }
        }
    }
    .box {
        flex-direction: column;
    }
}
