/* ==========================================================================
   Layouts
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner {
    width: 1170px;
    margin: 0 auto;
    padding: 100px 15px;
    height: 100%;
}

.img--inner {
    max-width: 100%;
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
}


/*section title */

.shead {
    font: 800 30px/24px 'Raleway';
    letter-spacing: 0.075em;
    text-transform: uppercase;
}


/*section subtitle */

.sbhead {
    font: 400 italic 16px/30px 'Lora';
}


/*section content */

.scontent {
    font: 400 14px/28px 'Open Sans';
}


/*triangle */

.triangle {
    position: relative;
    &:after {
        position: absolute;
        content: '';
        border-bottom: 70px solid #ffaf36;
        border-right: 67.5px solid transparent;
        border-left: 67.5px solid transparent;
        bottom: 0px;
        right: 15px;
    }
    &:before {
        position: absolute;
        content: '';
        border-bottom: 100px solid #36a8ff;
        border-right: 80px solid transparent;
        border-left: 80px solid transparent;
        bottom: 0px;
        right: 5.7%;
    }
}

.select2-container .select2-selection--single {
    height: 75px;
    padding-top: 25px;
    border-bottom: 1px solid #dfe5ea;
}

.select2-selection__arrow {
    margin-top: 25px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered:after {
    content: " *";
    color: $color_gold;
}
.select2-selection:focus{
    outline: none;
}

@media (max-width: 1169px) {
    .inner {
        width: auto;
    }
}

@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
}

@media (max-width: 639px) {
    .shead,
    .sbhead {
        text-align: center;
    }
    .triangle {
        &:before {
            border-bottom: 50px solid #36a8ff;
            border-right: 40px solid transparent;
            border-left: 40px solid transparent;
        }
        &:after {
            border-bottom: 35px solid #ffaf36;
            border-right: 33.75px solid transparent;
            border-left: 33.75px solid transparent;
        }
    }
}
