/* ==========================================================================
   Mixins
   ========================================================================== */

/* 1. Font smoothing
========================================================================== */
/* Better font-rendering on OSX
   https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
*/
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin column-count($columns){
  -webkit-column-count: $columns; /* Chrome, Safari, Opera */
  -moz-column-count: $columns; /* Firefox */
  column-count: $columns;
}