/* ==========================================================================
   Index of scss files
   ========================================================================== */

/* Normalize
   ========================================================================== 
@import "node_modules/normalize.css/normalize";

/* Breakpoint
   ========================================================================== */
@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

/* Variables (colors, sizes, fonts)
   ========================================================================== */
@import "partials/variables";

/* Flex Helpers
   ========================================================================== */
// @import "node_modules/flex-helpers/flex-helpers";

/* Mixins
   ========================================================================== */
@import "partials/mixins";

/* Extends
   ========================================================================== */
@import "partials/extends";

/* Helpers (common used classes: buttons, clearfix...)
   ========================================================================== */
@import "partials/helpers";

/* Bxslider
   ========================================================================== */

@import "partials/jquery.bxslider";

/* Fonts
   ========================================================================== */

@import "partials/fonts";

/* Typograpy
   ========================================================================== */
@import "partials/typography";

/* Select2
   ========================================================================== */
@import "partials/select2";

/* Forms
   ========================================================================== */
@import "partials/forms";

/* Buttons
   ========================================================================== */
@import "partials/buttons";

/* header-top
   ========================================================================== */

@import "partials/header-top";

/* Contact
   ========================================================================== */
@import "partials/contact";

/* Layout Definition (base)
   ========================================================================== */
@import "partials/layouts";

/* Footer
   ========================================================================== */
@import "partials/footer";

/* Layout Components
   ========================================================================== */
@import "partials/components";

/* Fontello
   ========================================================================== */
@import "partials/fontello";


/* Vendor CSS
   ========================================================================== */
@import "partials/vendor";

/* Media Queries
   ========================================================================== */
@import "partials/media-queries";

/* Print Styles
   ========================================================================== */
@import "partials/print";